* {
    box-sizing: border-box;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.head {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px #ddd; flex-wrap: wrap;
}

.head .logo h2 {
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: #2196f3;
}
@media(max-width:767px) {
    .head .logo  {
        width: 100%;
        text-align: center;
    }
}
.head .nav {
    flex-basis: 75%;
}
@media(max-width:767px) {
    .head .nav {
        flex-basis: 100%;
    }
    .head .nav > ul {
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
    }
}
.head .nav > ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
@media(max-width:767px) {
    .head .nav > ul {
        align-items: center;
        
        margin: 0 auto;
        flex-wrap: wrap;
        margin-left: -20px;
    }
}
.head .nav >ul > li {
    position: relative;
}
@media(max-width:767px) {
    .head .nav >ul > li {
        margin-right: 20px;
        margin-bottom: 20px;
    }
}
.head .nav >ul > li:not(.cont):before{
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    background-color: #2196f3;
    bottom: -10px;
    left: 0px;
    transition: .3s;
}
.head .nav ul > li:hover::before{
    width: 100%;
}
.head .nav >ul .cont:hover .two {
    display: block;
    z-index: 100;
}
.head .nav .two {
    position: absolute;
    list-style: none;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
    text-align: center;
    display: none;
}
.head .nav .two::before {
    position: absolute;
    content: "";
    border-width: 15px;
    border-style: solid ;
    border-color: transparent transparent #eee transparent;
    top: -22px;
    left: 50px;
    transition: .3s;
}
.head .nav .two > li {
    padding: 15px 20px;
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    transition: .3s;
}
.head .nav .two > li:hover {
    border-color: #2196f3;
}
.head .nav .two > li:hover a {
    color: #2196f3;
}
.head .nav ul > li a {
    display: block;
    text-decoration: none;
    color: black;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media(min-width:768px) {
    .container {
        width: 750px;
    }
}
@media(min-width:992px) {
    .container {
        width: 970px;
    }
}
@media(min-width:1200px) {
    .container {
        width: 1170px;
    }
}
.content {
    padding-top: 90px;
}

.content .container {
    display: grid;
    grid-template-columns: repeat(auto-fill ,minmax(300px,1fr));
    gap: 40px;
}
.content .container .box {
    border: 1px solid;
}
.content .container .box {
    box-shadow: 0 0 10px #ddd ;
    border: 1px solid #2196f3;
    border-radius: 6px;
    text-align: center;
    position: relative;
}
.content .container .box ::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    background-color: #f6f6f6;
    left: 0;
    z-index: -1;
    transition: .3s;
}
.content .container .box ::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    background-color: #f6f6f6;
    left: 0;
    z-index: -1;
    transition: .3s;
}
.content .container .box:hover ::after , .content .container .box:hover ::before {
    height: 50%;
}
.content .container .box h3 {
    font-weight: normal;
    margin-top: 20px;
}
.content .container .box span {
    display: block;
}
.content .container .box .price {
    border: 1px solid #2196f3;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin: 30px auto;
    transition: .3s;
}
.content .container .box .price:hover {
    background-color: #2196f3;
    color: white;
    border-color: white;
    
}
.content .container .box .info span  {
    margin-bottom: 15px;
    color: #777;
}
.content .container .box a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: black;
    background-color: white;
    border: 1px solid #2196f3;
    font-size: 16px;
    letter-spacing: -1px;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 20px;
    border-radius: 4px;
    transition: .3s;
}
.content .container .box a:hover {
    background-color: #2196f3;
    color: white;
}